.block {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  position: relative;
  left: 45vw;
  top: 40vh;
  text-align: justify;
  color: red;
  background-color: grey;
}

.block{
  animation-name: text-block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}


@keyframes text-block {
  100%{
    color: black;
  }
  
}